{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ekko Wash | Car Washing Service</title>

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:light' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="">
                	{% load static %}
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
            </div>
            <div class="top-social">
            	<a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-whatsapp"></i>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="active"><a href="">Home</a></li>
                            <!-- <li><a href="./about-us.html">About us</a></li> -->
                            <!-- <li><a href="./schedule.html">Schedule</a></li> -->
                            <li><a href="about/">About Us</a></li>
                            <li><a href="gallery/">Gallery</a></li>
                            <li><a href="offers/">Why Us?</a>
                                <ul class="dropdown">
                                    <li><a href="offers/">Our Offers</a></li>
                                    <li><a href="blog/"> Why Waterless Car Wash?</a></li>
                                </ul>
                            </li>
                            <li><a href="contact/">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg" data-setbg="{% static 'img/hero-slider/hero-10.jpg'%}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <!-- <h2>Be one of our happy customers</h2> -->
                                <h1>Book your EKKO WASH Now</h1>
                                <h2>Be one of our happy customers</h2>
                                <a href="book/" class="primary-btn about-btn">Book now</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="single-hero-item set-bg" data-setbg="img/hero-slider/hero-2.jpeg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h3>Be one of our happy clients</h3>
                                <h1>Book your Wash Now</h1>
                                <a href="#" class="primary-btn">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="img/hero-slider/hero-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h3>Be one of our happy clients</h3>
                                <h1>Book your Wash Now</h1>
                                <a href="#" class="primary-btn">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- Hero End -->

    <!-- About Section Begin -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-text">
                        <h2>Why we want to go EcoFriendly.</h2>
                        <!-- <p class="short-details"> The Question that we want to Solve :</p> -->
                        <p class="short-details"> Are we on the verge of running out of water?</p>
                        <p class="long-details"> Water scarcity is the lack of freshwater resources to meet water. Already, due to many reasons- some due to nature, many due to human activity - we are on the brink of water crisis!<br><br>
When you book a Ekko Wash service you can save upto 15 lts of water - that, which can be used for fulfilling basic needs for many people across our country.
Water saving is the need of the hour and we at Ekko Wash are working hard to do our bit to help this cause. You can too.<br><br> We are one of the water savers in the car cleaning industries; we are encouraging you to save water and save lives too.</p>
                        <a href="blog/" class="primary-btn about-btn">Learn More</a>
                    </div>
                </div>
                <!-- <div class="col-lg-6">
                    <div class="about-img">
                        <img src="img/home-about.jpg" alt="">
                    </div>
                </div> -->
            </div>
        </div>	
    </section>
    <!-- About Section End -->

    <!-- Classes Section Begin -->
    <section class="classes-section">
        <div class="class-title set-bg" data-setbg="{% static 'img/classes-title-bg.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 m-auto text-center">
                        <div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
                            <h2>What makes us Stand Out</h2>
                            <!-- <p>Our Crossfit experts can help you discover new training techniques and exercises that offer a dynamic and efficient full-body workout.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-8">
                    <div class="classes-item set-bg" data-setbg="{% static 'img/classes/class-1.jpg' %}">
                        <h4>Free Pickup & Drow Facility</h4>
                        <p>With our service you can spend your valuable time with your family. Save yourself from the hassle of waiting at the servive stations.We offer eco-friendly car wash services at an affordable price</p>
                        <a href="about/" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8">
                    <div class="classes-item set-bg" data-setbg="{% static 'img/classes/class-2.jpg' %}">
                        <h4>Doorstep Car Washing</h4>
                        <p>Do you love your car too much? Are you worried about how people handle it?  The answer is to opt our door-to-door service, we clean your car at your house.
                        Meanwhile, just sit and relax as our experts shine your car. 
                        </p>
                        <a href="about/" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8">
                    <div class="classes-item set-bg" data-setbg="{% static 'img/classes/class-3.jpg' %}">
                        <h4>Eco Friendly Practices</h4>
                        <p>At Ekko Wash we go that extra mile so that you dont have to worry about your car cleaning. We only use EcoFriendly cleaners. We are on a mission to wash your car with minimun amount of water possible using Steam Technology.</p>
                        <a href="about/" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" data-setbg="img/classes/class-4.jpg">
                        <h4>CLASSIC BODY BALANCE</h4>
                        <p>The procedure is usually a preferred alternative to photorefractive keratectomy,</p>
                        <a href="#" class="primary-btn class-btn">Read More</a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Classes Section End -->

    <!-- Class Time Section End -->

    <!-- Price Plan Section Begin -->
    <section class="chooseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>OUR CAR CLEANING SERVICES</h2>
                        <p>We aim to provide the best car cleaning services in Hyderabad. We provide both express as well as perfect deep cleaning to meet the requirements of different people. Our core objective is to provide satisfactory services to our clients in the first go so that whenever they think of getting their cars cleaned, <b>'Ekko Wash'</b> is the first name to pop into their mind.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-price-plan">
                        <h4>Normal</h4>
                        <div class="price-plan">
                            <h2>500<span>₹
                            </span></h2>
                            <p>Express Steam Clean</p>
                        </div>
                        <ul>
                            <li>Exterior Steam Cleaning</li>
                            <li>Interior Vacuuming</li>
                            <li>Interior Steam Cleaning</li>
                            <li>Dashboard polishing</li>
                            <li>Tyre & Wheel Cleaning with Steam</li>
							<li>Tyre Polishing</li>
							<li>Glass and Mirrors Steam Cleaning</li>
							<li>Floor Mats Steam Cleaning</li>
							<li>Trunk Vacuuming & Cleaning</li>
							<li>Cabin Deodorizing</li>
                        </ul>
                        <a href="book/" class="primary-btn about-btn">Book now</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-price-plan">
                        <h4>Priority Pass</h4>
                        <div class="price-plan">
                            <h2>3000 <span>₹</span></h2>
                            <p>Yearly</p>
                        </div>
                        <ul>
                            <li><b>EXPRESS STEAM CLEAN</b> Plan +</li>
							<li>Engine Bay Steam Cleaning</li>
							<li>Engine Bay Polishing</li>
							<li>Vacuuming of Floor, carpets and Boot space</li>
							<li>Seats Vacuuming & Steam Cleaning</li>
							<li>Seat Belts Steam Cleaning</li>
							<li>Leather Seats Polishing</li>
							<li>Door Panel Steam Cleaning & Polishing</li>
							<li>Centre Console Steam Cleaning & Polishing</li>
							<li>Cleaning of Side Mirror and Wiper</li>
                        </ul>
                        <a href="book/" class="primary-btn about-btn">Book now</a>
                        <div class="tic-text">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-price-plan">
                        <h4>Advanced</h4>
                        <div class="price-plan">
                            <h2>1500 <span>₹</span></h2>
                            <p>Perfect Deep Clean</p>
                        </div>
                        <ul>
                        	<li><b>EXPRESS STEAM CLEAN</b> Plan +</li>
							<li>Engine Bay Steam Cleaning</li>
							<li>Engine Bay Polishing</li>
							<li>Vacuuming of Floor, carpets and Boot space</li>
							<li>Seats Vacuuming & Steam Cleaning</li>
							<li>Seat Belts Steam Cleaning</li>
							<li>Leather Seats Polishing</li>
							<li>Door Panel Steam Cleaning & Polishing</li>
							<li>Centre Console Steam Cleaning & Polishing</li>
							<li>Cleaning of Side Mirror and Wiper</li>
                        </ul>
                        <a href="book/" class="primary-btn about-btn">Book now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Price Plan Section End -->

    <!-- Choseus Section Begin cta-section-->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Why People Choose Us</h2>
                        <p>Our team of experts and our latest eco-friendly equipment are the winning combination.<br><br><br><br></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                    	<img src="https://img.icons8.com/small/100/000000/car-service.png">
                        <!-- <img src="img/icons/chose-icon-1.png" alt=""> -->
                        <h5>Doorstep Service</h5>
                        <p>Our Car Cleaning Experts are just a call away and will reach your place in the given time and give your car the perfect shine it deserves and that too within a few hrs. Now no more spending your precious time, energy and money at service stations. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="https://img.icons8.com/ios-filled/100/000000/car-cleaning.png">
                        <h5>Steam Cleaning</h5>
                        <p>Our High Pressure Steam Cleaning Machine pulls out those deep stains , dust and grime giving your car the perfect shine. It not only gives Eco friendly cleaning but also kills germs and disinfects the complete car.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="https://img.icons8.com/metro/100/000000/certificate.png">
                        <h5>Professionals</h5>
                        <p>Our Trained Professional come with Hands on Experience in this field and have the ability to wow you with their Car Cleaning Service and also their Detailing Skills.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="https://img.icons8.com/ios-glyphs/100/000000/warranty-card.png">
                        <h5>Top Quality Equipments</h5>
                        <p>Highest Quality products and Latest Equipment are used by us to provide you an Unmatched Quality Service within the dedicated time.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="https://img.icons8.com/material-two-tone/100/000000/eco-cleaning.png">
                        <h5>Eco-Friendly Practises</h5>
                        <p>Steam cleaning with vaporized water is a relatively new concept which is extremely effective and completely environmental friendly. Ekko Wash only uses STEAM to clean the interior and exterior of your car, thereby reducing water wastage.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="https://img.icons8.com/material-two-tone/100/000000/smiling-face-with-heart.png">
                        <h5>Guaranteed Satisfaction</h5>
                        <p>Your car is your pride and we won’t let it down because of a dirty car. We strive excellence in what we do to make you feel special and bring that new car feeling again.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Choseus Section End -->

    <!-- Blog Section Begin -->
    <!-- <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>From Our Blog</h2>
                        <p>List of all news and events that take place related to us</p>
                    </div>
                </div>
            </div>
            <div class="row blog-gird">
                <div class="grid-sizer"></div>
                <div class="col-lg-4 col-md-6 grid-item">
                    <div class="blog-item large-item set-bg" data-setbg="img/blog/blog-1.jpg">
                        <a href="#" class="blog-text">
                            <div class="categories">Gym & Croosfit</div>
                            <h5>Many people sign up for affiliate programs</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item">
                    <div class="blog-item instagram-item">
                        <a href="#" class="instagram-text">
                            <div class="categories">Gym & Croosfit <i class="fa fa-instagram"></i></div>
                            <h5>Follow Our Classes Gyming on Instagram # BodyBuilding # photo</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item">
                    <div class="blog-item small-item set-bg" data-setbg="img/blog/blog-2.jpg">
                        <a href="#" class="blog-text">
                            <div class="categories">Gym & Croosfit</div>
                            <h5>Does Hydroderm Work</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item">
                    <div class="blog-item large-item xls-large set-bg" data-setbg="img/blog/blog-3.jpg">
                        <a href="#" class="blog-text">
                            <div class="categories">Gym & Croosfit</div>
                            <h5>Many people sign up for affiliate programs</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item">
                    <div class="blog-item large-item set-bg" data-setbg="img/blog/blog-4.jpg">
                        <a href="#" class="blog-text">
                            <div class="categories">Gym & Croosfit</div>
                            <h5>Many people sign up for affiliate programs</h5>
                        </a>
                        <div class="play-btn">
                            <a href="https://www.youtube.com/watch?v=X_9VoqR5ojM" class="play-in-btn video-popup">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item">
                    <div class="blog-item small-item set-bg" data-setbg="img/blog/blog-5.jpg">
                        <a href="#" class="blog-text">
                            <div class="categories">Gym & Croosfit</div>
                            <h5>Your Antibiotic One Day To 10 Day Options</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Blog Section End -->

    <!-- Cta Section Begin -->
    <!-- <section class="chooseus-section">
    </section> -->

    <section class="cta-section_">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>Book your Wash, Now.</h3>
                        <p>New year special! ₹300 off on the first wash and 50% off on our 'priority' member!</p>
                    </div>
                    <a href="book/" class="primary-btn cta-btn">book now</a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Cta Section End -->

    <!-- Map Section Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30470.251281496072!2d78.55631002499717!3d17.3260927393712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcba1f9d7af434b%3A0xba06876a217693a0!2sVanasthalipuram%2C%20Hyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1579033682342!5m2!1sen!2sin" width="600" height="590" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="map-contact-detalis">
            <div class="open-time">
                <h5>Weekday:</h5>
                <ul>
                    <li>Weekday: <span>06:30 - 11:00</span></li>
                    <li>Saturday: <span>07:00 - 22:00</span></li>
                    <li>Sunday: <span>09:00 - 18:00</span></li>
                </ul>
            </div>
            <div class="map-contact-form">
                <h5>Contact Us</h5>
                <form action="#">
                    <input type="text" placeholder="Name">
                    <input type="text" class="phone" placeholder="Phone">
                    <textarea placeholder="Message"></textarea>
                    <button type="submit" class="site-btn">Submit Now</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Map Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-item">
                        <div class="f-logo">
                            <a href=""><img src="{% static 'img/logo.png' alt=''%}"></a>
                        </div>
                        <p>We are a technologically driven group of individuals trying to go green. You too can join us to participate in the bigger cause.</p>
                        <div class="social-links">
                            <h6>Follow us</h6>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-whatsapp"></i>
                            <!-- <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a> -->
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <!-- <h5>Our Blog</h5>
                        <div class="footer-blog">
                            <a href="#" class="fb-item">
                                <h6>Most people who work</h6>
                                <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                            </a>
                            <a href="#" class="fb-item">
                                <h6>Freelance Design Tricks How </h6>
                                <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                            </a>
                            <a href="#" class="fb-item">
                                <h6>have a computer at home have had </h6>
                                <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                            </a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <!-- <h5>Program</h5>
                        <ul class="workout-program">
                            <li><a href="#">Bodybuilding</a></li>
                            <li><a href="#">Running</a></li>
                            <li><a href="#">Streching</a></li>
                            <li><a href="#">Weight Loss</a></li>
                            <li><a href="#">Gym Fitness</a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h5>Get Info</h5>
                        <ul class="footer-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>Phone:</span>
                                +91 8960419062
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <span>Email:</span>
                                support.ekko_wash@gmail.com
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Address</span>
                                Vanasthalipuram, Hyderabad.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ct-inside"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>