{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Ekko Wash | Car Washing Service</title>
	<meta charset="UTF-8">
    <meta name="description" content="Car Washing & Glossing.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--/Style-CSS -->
	<link rel="stylesheet" href="{% static 'css/login_style.css' %}" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--//Style-CSS -->
</head>

<body>
	<!-- /login-section -->
	<section class="w3l-login-6">
		<div class="login-hny">
			<div class="form-content">
				<div class="form-right">
					<div class="overlay">
						<div class="grid-info-form">
							<h3>Not a member yet?</h3>
							<!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est natus facere aperiam!
								Tenetur maiores dolore a quod pariatur ut voluptates quae saepe ea quasi laudantium,
								iste molestias inventore fuga assumenda.</p> -->
							<a href="{% url 'signup_page' %}" class="read-more-1 btn">create an account</a>
						</div>
					
					</div>
				</div>
				<div class="form-left">
					<div class="middle">
						<h4>Welcome back!</h4>
						<p>Please login to Your Account.</p>
					</div>
					{% csrf_token %}
					<form action="{% url 'login_page' %}" method="POST" class="signin-form">
							 {% csrf_token %}
							<div class="error">
								{% for message in messages%}
									<h5>ERROR: "{{message}}"</h5>
								{% endfor %}
							</div>
							<div class="form-input">
								<label>Email</label>
								<input type="email" name="email" placeholder="" required />
							</div>
							<div class="form-input">
								<label>Password</label>
								<input type="password" name="password" placeholder="" required />
							</div>
							
							<label class="container">I agree to <a href="#">Conditions</a> of Use and <a href="#">Privacy</a>
								<input type="checkbox" id='checkbox'>
								<span class="checkmark"></span>
							</label>
							<script type="text/javascript">
								$(function() {
								    $('#checkbox').click(function() {
								        if ($(this).is(':checked')) {
								        	$('#submit_button').removeAttr('disabled');
								        } else {
								            $('#submit_button').attr('disabled', 'disabled');
								        }
								    });
								});
							</script>
							<button class="btn" id='submit_button' disabled>Login</button>
					</form>
					<div class="copy-right text-center">
						<p>© Ekko Wash. All rights reserved | Design by
								<a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
					 </div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- //login-section -->
</body>
</html>